<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add New Item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-11>
          <ion-list>
            <ion-item>
                <ion-label stacked>Name</ion-label>
                <ion-input [(ngModel)]="item.name" type="text" value="{{ choosedValueName }}"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-icon (tap)="(isListening) ? stopListening() : startListening('name')" name="mic" [ngStyle]="{'color': '#488aff', 'bottom': '26px'}"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-11>
          <ion-list>
            <ion-item>
              <ion-label stacked>Description</ion-label>
              <ion-input [(ngModel)]="item.desc" type="text" value="{{ choosedValueDesc }}"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-icon (tap)="(isListening) ? stopListening() : startListening('description')" name="mic" [ngStyle]="{'color': '#488aff', 'bottom': '26px'}"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-title *ngIf="isFinish"><span class="titlee">Choose a value for {{ choosedValue }} :</span></ion-title>
    <ion-item *ngFor="let match of matches">
      <ion-label (click)="chooseIt(match)">
        <div class="ch">{{ match }}</div>
      </ion-label>
    </ion-item>

  </ion-list>
  <div>
    <button ion-button outline (click)="addItem(item)" color="primary" block style="border-radius: 10px">Add</button>
  </div>
</ion-content>
